<p>{{title}}</p>

<div *ngIf="products.length > 0; else noProducts"  >
  <p>Numero totale di prodotti: {{products.length}}</p>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Data</th>
        <th>Prezzo</th>
        <th>Foto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name | uppercase}}</td>
        <td>{{product.releaseDate | date: "dd/MM/yyyy"}}</td>
        <td>{{product.price | currency: "EUR"}}</td>
        <td>
          <img src="{{product.image}}">
         </td>
         <td> <button (click)="showDetails(product)" class="btn btn-warning">Dettaglio </button>  </td>
       </tr>
    </tbody>
  </table>





</div>


<ng-template #noProducts>
  <p>Non ci sono prodotti in catalogo</p>
</ng-template>

